@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
  font-family: "Outfit", sans-serif;
  background-color: #fcfbfc;
  overflow-x: hidden;
}
/* For Chrome, Safari, Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(84%) sepia(9%) saturate(83%) hue-rotate(180deg) brightness(95%) contrast(90%);
  opacity: 0.8;
  cursor: pointer;
}